<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReviewCompanion"
        tools:targetApi="31">

        <activity
            android:name=".ActivityAboutUs"
            android:exported="false" />
        <activity
            android:name=".ActivitySettings"
            android:exported="false" />
        <activity
            android:name=".ActivityScoreHistory"
            android:exported="false" />
        <activity
            android:name=".ActivityQuizScore"
            android:exported="false" />
        <activity
            android:name=".ActivityQuizTake"
            android:exported="false" />
        <activity
            android:name=".ActivityQuizChooseCategory"
            android:exported="false" />
        <activity
            android:name=".ActivityMainInterface"
            android:exported="false" />
        <activity
            android:name=".ActivityPreInterface"
            android:exported="false" />
        <activity
            android:name=".ActivityOTP"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>